@mixin svg_draw_main() {
  svg {
    position: absolute;
    line, path, ellipse, poligon, circle {
      fill:none;
      stroke: $color-yellow;//#EBB240;
      stroke-miterlimit:10;
      stroke-dasharray: 2000;
      stroke-dashoffset: 2000;
    }
  }

}

@mixin draw_lens_slide1($w, $delay: 0) {
  
  .svg-lens {
    @include transform_rotate(20deg);
    top: 28%;
    left: 26%;
    width: $w;
    height: calc($w / 1.29); //241px;
    
    line, path, ellipse{
      animation: draw 10s linear $delay forwards;
    }
  }
  
  .svg-lens-title {
    top: 55%;
    right: 5%;
    animation: appear_text 2s linear $delay forwards;
  }
}

@mixin draw_camera_slide1($w, $delay: 0) {

  .svg-camera {
    top: 5%;
    left: 30%;
    width: $w;
    height: calc($w / 1.81); //241px;
    animation: move_drawn_camera 2s linear calc($delay * 1.5) forwards;
    
    line, path, polygon {
       fill: $color-platinum;
    }
    
    line, path{
      animation: draw 40s linear $delay forwards;
    }
  }
  
  .svg-camera-title {
    top: 45%;
    right: 5%;
    animation: appear_text 2s linear $delay forwards;
  }
}

@mixin draw_turner_slide1($w, $delay: 0) {
  
  .svg-turner {
    top: 70%;
    left: 10%;
    width: $w;
    height: calc($w / 1.29); //241px;
    animation: move_drawn_turner 2s linear calc($delay * 1.2) forwards;
    
    line, path, polygon {
       fill: $color-platinum;
    }
    
    line, path{
      animation: draw 100s linear $delay forwards;
    }
    
  }
  .svg-turner-title {
    top: 65%;
    right: 5%;
    animation: appear_text 2s linear $delay forwards;
  }
}

@mixin draw_tower_slide1($w, $delay: 0) {
  .svg-tower {
    top: 63%;
    left: 0%;
    width: $w;
    height: $w;
    
    path, ellipse {
      fill: $color-platinum;
      stroke-width: 0.3;
    }
    
    path {
      animation: draw 40s linear calc($delay + 10s) forwards;
    }
    
    path.pillar {
      animation: draw 40s linear $delay forwards;
    }
    ellipse {
      animation: draw 30s linear calc($delay + 2s) forwards;
    }
    
  }
  
  .svg-tower-title {
    top: 75%;
    right: 5%;
    animation: appear_text 2s linear $delay forwards;
  }
}


@mixin draw_tree_slide2($delay: 0) {
  path {
    animation: draw 30s linear $delay forwards;
  }
}

@mixin draw_camera_slide2($delay: 0) {
  line {
    animation: draw 250s linear $delay forwards;
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes move_drawn_camera {
  100% {
    top: 25%;
    left: 12%;
  }
}
@keyframes move_drawn_turner {
  100% {
    top: 40%;
    left: 0%;
  }
}
@keyframes appear_text {
  0%{
    opacity:0;
  }
  100% {
    opacity: 1;
    //visibility: visible;
  }
}
@keyframes move_net_work_canvas {
  100% {
    left: 0;
  }
}
@keyframes transfer_svg_circle {
  100% {
    fill: $color-yellow;
  }
}

@keyframes move_description {
  100% {
    top : 0;
  }
}

@mixin svg_draw_slide1() {
  $delay-draw: 2s;

  #howitworks_slide1_descr{
    @include transition-in;
  }
  @include draw_lens_slide1(170px, $delay-draw);
  @include draw_camera_slide1(300px, calc($delay-draw + 5s));
  @include draw_turner_slide1(180px, calc($delay-draw + 10s));
  @include draw_tower_slide1(300px, calc($delay-draw + 13s));
}

@mixin svg_draw_slide2($delay) {
  #howitworks_slide2_descr {
    @include transition-in($transition-duration-slowly, $delay);
  }
  
  .howitworks__demo {
    line, path, circle {
      fill: $color-platinum;
    }
  }
  
  #howitworks-step2-tree-big {
    @include draw_tree_slide2($delay);
  }
  
  #howitworks-step2-tree-small {
    @include draw_tree_slide2(calc($delay + 2s));
  }
  
  #howitworks-step2-office {
    circle {
      animation: draw 10s linear calc($delay + 5s) forwards;
    }

    line, path {
      animation: draw 250s linear calc($delay + 7s) forwards;
    }
  }
  
  #howitworks-step2-camera-big{
    @include draw_camera_slide2(calc($delay + 9s));
  }
  
  #howitworks-step2-camera-small {
    @include draw_camera_slide2(calc($delay + 11s));
  }
  
  .transfer-svg circle {
    animation: transfer_svg_circle 3s linear calc($delay + 15s) forwards;
  }
}

.how-it-works {
  $blockH: 550px;
  @include flex_column_between;
  align-items: center;
  background-color: $color-platinum;
  color: $color-light;
  width: 100%;
  min-height: $blockH;
  overflow: hidden;
  
  @media print {
    @include flex-row;
    @include gap-row(10px);
    
    min-height: auto;
  }
  
  .howitworks {
    $demo-screen-w: 400px;
    $demo-screen-h: $blockH;
    position: relative;
    
    @media print {
      width: 100%;
      height: auto;
    }
    
    &__demo {
      @include flex_row_end;
      
      .demo-screen {
        position: relative;
        width: $demo-screen-w;
        height: $demo-screen-h;
        overflow: hidden;
        
        @media print {
          display: none;
          height: auto;
        }
        
        svg {
          fill: none;
        }
        .transfer-svg {
          border: none;
        }
      }
    }
    
    &__desciptions {
      @include flex_column(flex-start);
  
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom: 0;

      @media print {
        position: relative;
      }
      
      .desciptions-item {
        position: relative;
        top: -600px;
        width: 85%;
        font-size: 1rem;
        line-height: 1.1;
        text-align: left;
        padding: 10px $container-padding-x;
        color: $color-text-soft-light;
        
        @media print {
          position: relative;
          top: 0 !important;
          left: 0 !important;
          width: 100%;
          height: auto;
        }
      }
    }
    
    .panel__item {
      align-items: center;
    }
    
    &__slide2 {
      position: absolute;
      top: 0;
      left: calc($demo-screen-w * -2);
      width: $demo-screen-w;
      height: $demo-screen-h;
      background-color: $color-platinum;

      @media print {
        left: 0;
        height: auto;
      }
      .net-work {
        @include flex-row;
        @include gap-row(0);
        
        flex-wrap: nowrap;
        width: 800px;
        height: 100%;
        color: $color-light;
        
        &__canvas, &__transition{
          flex: 0 0 50%;
        }

        &__canvas {
          background-color: $color-platinum;
        }

        .transition {
          display: flex;
          flex-direction: column;
          @include gap-clm(0);

          &__cell {
            background-color: $color-platinum;
          }

          &__top {
            @include flex-row;
            
            height: 30%;
            
            >div {
              flex: 0 0 25%;
            }

            .item-2, .item-3, .item-4 {
              border-bottom: 2px solid $color-yellow;
            }

            .item-4{
              background-color: $color-yellow;
              opacity: 0.8;
            }
          }

          &__middle {
            @include flex-row;
            
            height: 15%;

            >div {
              flex: 0 0 25%;
            }
            
            .item-1, .item-2, .item-3 {
              border-bottom: 2px solid $color-yellow;
            }

            .item-3{
              flex: 0 0 30%;
              background-color: $color-yellow;
              opacity: 0.8;
            }

            .item-4{
              flex: 0 0 20%;
              opacity: 0;
            }
          }

          &__bottom {
            @include flex-row;
            
            height: 30%;
            
            >div {
              flex: 0 0 25%;
            }
            .item-2{
              flex: 0 0 20%;
            }
            .item-3{
              flex: 0 0 30%;
            }
            .item-4{
              opacity: 0;
            }
          }

          &__footer {
            @include flex-row;
            
            height: 25%;
            
            .item-1 {
              flex: 0 0 20%;
            }
            .item-2, .item-3 {
              flex: 0 0 30%;
              border-top: 2px solid $color-yellow;
            }

            .item-3{
              flex: 0 0 40%;
              background-color: $color-yellow;
              opacity: 0.8;
            }

            .item-4{
              flex: 0 0 10%;
              opacity: 0;
            }
          }
        }
      }
    }
  }
  
  .howitworks4print {
    display: none;
    
    @media print {
      display: block;
    }
  }

  &._active {
    
    .howitworks {
      @include svg_draw_main;
      
      .demo-title {
        position: absolute;
        font-family: "Caveat", cursive;
        font-size: 1.1rem;
        color: $color-text-soft-light;
        opacity: 0;
      }
      
      &__slide1{
        @include svg_draw_slide1();
        
      }
      
      &__slide2{
        @include svg_draw_slide2(35s);
        
        animation: move_net_work_canvas 3s linear 30s forwards;
      }
      
      &__desciptions {

        #howitworks_slide1_descr {
          left: -40%;
          padding-top: 20px;
          animation: move_description 8s ease-in 6s forwards;
          
          @include mobile {
            left: 0;
          }
          
          @media print {
            left: 0;
          }
        }
        
        #howitworks_slide2_descr {
          left: -25%;
          width: 360px;
          animation: move_description 5s ease-in 15s forwards;
          
          @include mobile {
            left: 0;
          }
          
          @media print {
            left: 0;
          }
        }
        
        #howitworks_slide3_descr {
          left: -20%;
          width: 350px;
          padding-top: 160px;
          animation: move_description 5s ease-in 40s forwards;
          
          @include mobile {
            left: 0px;
            padding-top: 190px;
          }
          
          @media print {
            left: 0;
            padding-top: 10px;
          }
        }
        
        #howitworks_slide4_descr {
          left: 30%;
          width: 500px;
          padding-top: 15px;
          animation: move_description 5s ease-in 50s forwards;
          
          @include mobile {
            left: 0;
            width: 100%;
            padding-top: 25px;
          }
          
          @media print {
            left: 0;
          }
          
          >ul {
            padding: 0 0 0 20px;
            li {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

@mixin project_steps($rowW) {
  $stepSize: 40px;
  
  @include flex_column;
  
  margin: 50px auto;
  position: relative;
  align-items: center;
  width: 100vw;
  background-color: $color-bg-gray;
  
  &__row {
    @include flex-column;
    @include bg-img(url(#{$assetPath}tv_system/net/design_arrows.jpg), top, right, auto, 100%);
    @include gap-clm(50px);
    
    position: relative;
    width: $rowW;
    padding-bottom: calc($stepSize * 0.8);
    overflow: hidden;
    
    >h3 {
      margin-left: calc($stepSize * 0.5);
      
    }
    @media print {
      width: 85vw;
    }
  }
  
  .step {
    @include flex_row_start;
    
    &__body {
      @include flex_row_start;
      
      position: relative;
      flex: 0 1 400px;
      padding: calc($stepSize / 2);
      margin-left: calc($stepSize / 2);
      background-color: $color-accent;
      color: $color-pale-gold;
      font-weight: 500;
      cursor: pointer;
      
      &:after {
        content: '';
        position: absolute;
        top: calc($stepSize * -0.25);
        right: calc($stepSize * -0.95);
        bottom: 0;
        color: $color-yellow;
        @include arrow($stepSize, 'right', --color-accent);
      }
    }

    &__number {
      @include square($stepSize);
      @include border-radius(50%);
      
      position: absolute;
      top: calc($stepSize / -2);
      left: calc($stepSize / -2);
      padding-top:  calc($stepSize / 5);
      background-color: $color-accent;
      border: 2px solid $color-pale-gold;
      font-family: $font-famile-base-extra;
      text-align: center;
    }

    &__title {
      padding-left: calc($stepSize / 2);
    }
    
    @media print {
      display: none;
    }
  }

  .appear-panel__content {
    position: absolute;
    top: 0;
    right: calc($rowW * -1.25);
    bottom: 0;
    width: calc($rowW * 0.75);
    max-width: 450px;
    padding: 0 20px 20px;
    background-color: $color-bg-gray;
    border: 2px solid $color-platinum;
    opacity: 0.9;
    overflow: auto;

    @include mobile {
      width: calc($rowW * 0.85);
    }
    
    @media print {
      position: relative;
      right: 0;
      width: 85vw;
      max-width: 85vw;
    }
    
    .slogan {
      border-top: 1px solid $color-gray-alt;
      color: $color-yellow;
      text-align: right;
    }
  }
  .appear-panel__move-left {
    right: 0;
    transition-duration: $transition-duration-slowly;
  }
}


.tv-system-top {
  background-image: url(#{$assetPath}tv_system/camera.png), url(#{$assetPath}ts-description_bg.jpg);
  background-repeat: no-repeat;
  background-position: top right, center top;
  background-size: auto 250px, cover;
  
  @include tablet {
    background-image: url(#{$assetPath}tv_system/camera.png), url(#{$assetPath}ts-description_bg-tablet.jpg);
  }
  
  @include mobile {
    background-image: url(#{$assetPath}tv_system/camera.png), url(#{$assetPath}ts-description_bg-mobile.jpg);
    background-size: auto 100px, cover;
  }
  
  @media print {
     background-size: 0;
  }
  
  .slider {
    @include flex_column;
    
    align-items: center;
    width: 70%;
    margin: 10% auto;
    padding: 20px 20px;
    background-color: rgba(0,0,0,0.4);
    color: $color-text-soft-light;
    
    @include mobile-above {
      @include border-radius;
    }
    
    @include tablet {
      width: 85%;
    }
    
    @include mobile {
      width: 100%;
      padding: 5px 10px;
      margin: 15% auto 5%;
    }
    
    @media print {
      margin: 0;
      padding: 0;
    }
    .ts-brief {
      position: relative;
      width: 100%;
      min-height: 250px;
      
      @include mobile {
        @media (orientation: landscape) {
          min-height: 150px;
        }
      }
      
      @media print {
        @include flex-row;
        @include gap-row(20px);
        
        position: relative;
        min-height: auto;
      }
      
      &__item{
        @include padding-inline(3rem);
        
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        @include mobile {
          @include padding-inline($container-padding-x);
        }
        
        @media print {
          position: relative;
          flex: 1 1 48%;
        }
        
        >h3, >p {
          color: $color-bg-gray;
        }
        
        >p {
          font-size: 1.4rem;
          @include mobile {
            font-size: 1.1rem;
          }
        }
      }
      
    }
  }
}

.wildfire {
  @include flex_column_between;
  
  align-items: center;
  min-height: 100%;
  padding-top: $paragraphMarginBottom;
  overflow: hidden;
 
  div {
    @include paragraph;
  }
  div, h3 {
    text-align: center;
  }
  .wildfire__photos {
    @include flex_row;

    position: relative;
    width: 100%;

    .photo-album{
      @include photo-album(125px, 5);
    }
  }
  
  @include mobile {
    display: none;
  }
}

.panel__row .panel__item.wildfire {
  padding-bottom: 0;
}

.formula {
  @include flex_row(space-around);
  @include paragraph;
  @include border-radius;
  @include border-inline (1px, $color-accent);
  @include border-block (0);
  @include gap-clm(10px);
  @include margin-block(20px);
  
  padding: 20px;
  
  @include tablet {
    @include flex_column;
    @include border-inline (0);
    @include border-block (1px, $color-accent);
    @include gap-clm(0);

    padding: 0;
  }
  
  &__item, &__math {
    
    h3 {
      margin: 0;
      text-align: center;
      color: $color-accent;
    }
    
    p {
      text-align: center;
    }
    
  }
}

/* additional features */

.ts-features {
  $feature_detail_text_size: 300px;
  $feature_detail_size: 150px;

  position: relative;
  
  &-main {
    @include flex_column;
    
    position: relative;
    width: 70%;
    height: calc($feature_detail_size * 2.55);
    margin: 20px auto;
    overflow: visible;
    
    @media (max-width: 1200px) {
      width: 90%;
    }
    
    @media (max-width: 900px) {
      width: 98%;
    }
    
    @include mobile {
      @include gap-clm(20px);

      height: calc($feature_detail_size * 3.1);
      
      .feature-detail {
        &__body {
          padding-left: 20px;
        }
      }
    }
    
    @media print {
      width: 90%;
    }
    
    .feature-detail {
      @include flex-row;
      
      position: relative;
      max-width: calc($feature_detail_size * 3);
      
      @include mobile {
        max-width: 100%;
        
        &__img {
          margin-left: -(calc($feature_detail_size * 0.25))
        }
      }
      
      @media print {
        max-width: calc($feature_detail_size * 3.4);
      }
      
      &__img {
        @include square($feature_detail_size);
        @include border-radius(50%);
        
        flex: 0 0 $feature_detail_size;
        border: 1px solid $color-accent;
        overflow: visible;
        
        >img {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
      
      &__body {
        flex: 1 1 auto;
        margin-top: calc($feature_detail_size * 0.8);
        
        @include mobile {
          margin-top: 0;
        }
      }

      &__title {
        font-size: 1rem;
        font-weight: 600;
      }
      &__descr {
        font-size: 1rem;
      }
    }
    
    &__item {
      
      &-1 {
        margin-left: 30%;
        &-img {
          position: absolute;
          top: calc($feature_detail_size * 0.15);
          left: calc($feature_detail_size * 0.1);
        }
        
        @include mobile {
          margin-left: 0;
          
          &-img {
             top: calc($feature_detail_size * 0.4);
             left: calc($feature_detail_size * 0.05);
             max-width: 150px;
           }
        }
        
        .feature-detail__img {
          @include bg-img(url(#{$assetPath}tv_system/lenses/compare_origin_view.jpg), top, left, cover);
        }
      }
      
      &-2 {
        margin-top: -(calc($feature_detail_size * 0.7));
        
        @include mobile {
          margin-top: 0;
        }
      }
      
      &-3 {
        @include mobile-above {
          align-self: end;
          margin-top: -(calc($feature_detail_size  * 0.7));

          .feature-detail {
            flex-direction: row-reverse;

            &__title, &__descr {
              text-align: right;
            }
            
          }
        }
        
        @media print {
          align-self: start;
          margin-top: -(calc($feature_detail_size  * 0.7));
          margin-left: 50%;
          
          .feature-detail {
            @media print {
              flex-direction: row-reverse;
              
              &__title, &__descr {
                text-align: right;
              }
            }
          }
        }
        
        .feature-detail__img {
          @include bg-img(url(#{$assetPath}projects/sawmill.jpg), top, left, cover);
        }
      }
    }
  }
  
  &-office {
    @include flex-row(space-around);
    
    align-items: center;
    position: relative;
    height: calc($feature_detail_size * 2.2);
    background-image: linear-gradient(transparent 25%, #F9F9F9 25%, #F9F9F9 75%, white 75%, white 100%);
    overflow: visible;
    
    @include mobile {
      justify-content: flex-end;
    }
    &__img {
      @include border-radius(50%);
      @include square(calc($feature_detail_size * 2.2));
      
      border: 1px solid $color-accent;
      
      @include mobile {
        margin-right: -(calc($feature_detail_size * 0.40));
      }
    }
    &__circle {
      @include border-radius(50%);
      @include square(100%);
      
      overflow: hidden;
      border: 30px solid white;

      >img {
        width: 100%;
      }
    }
  }
  
  &-adds {
    @include flex_row(space-around);
    @include gap-row(20px);
    
    flex-wrap: wrap;
    flex: 1 1 auto;
    
    &__item {
      min-width: 200px;
      max-width: 300px;
      
      &:before {
        content: "";
        display: block;
        position: absolute;      
        width: 20px;
        height: 20px;
        margin: -22px 0  0 -22px;
        border: 1px solid $color-accent;
        border-radius: 50%;
        background-image: radial-gradient(circle, $color-accent 65%, white 35%);
        background-position:  center;
        background-size: 14px 14px;
        background-repeat: no-repeat;
      }
      
      >div {
        font-size: 1rem;
      }
    }
  }
}

/* COMPONENTS */
.ts-components {
  @include bg-img(url(#{$assetPath}tv_system/ts_bg.jpg), top, right, cover);
  border: 1px solid white;
  
  @include mobile {
    @include bg-img(url(#{$assetPath}tv_system/ts_bg_small.jpg), top, right, cover);
  }
}

.tower-popup-bg {
  @include bg-img(url(#{$assetPath}tv_system/ts.png), top, left, cover);
  
  position: relative;
  min-height: 300px;
  
  &__header {
    position: absolute;
    bottom: 20px;
    left: 40%;
    right: 0;
  }
}


.project-steps {
  @include project_steps(50vw);
  
  @include tablet {
    @include project_steps(80vw);
  }
  @include mobile {
    @include project_steps(90vw);
  }
}

.wrong-cameras {
  &__img-list {
    @include flex_row(space-around);
    @include gap-row(20px);
    @include margin-block(40px);
    
    flex-wrap: wrap;
  }
}

.popup-ts-components__camera-items {
  @include flex_column_between;
}

.popup_tower {
  height: 100%;
}
