@mixin inside_win($unit) {
  $curtain: calc( $unit * 3 );
  
  @include grid_3($curtain, $unit, $curtain);
  
  min-height: 100%;
  
  &__clm-1, &__clm-3 {
    background-color: var(--color-bg-gray);
    opacity: 0.8;
  }
}

@mixin lenses_tab_content($w, $y) {
  $unit: calc( $w / 3 );
  
  @include bg-img(url(#{$assetPath}tv_system/lenses/tv_lenses.jpg), 0, 0, cover);
  
  position: relative;
  margin: 0 auto;
  width: $w;
  height: $y;
  //overflow: hidden;
  
  .inside-win {
    @include inside_win($unit);
  }
  
  .params__list {
    position: absolute;
    top: -300px;
    max-width: 200px;

    &._active {
      top: 20px;
      @include transition-common;
    }
  }
  
  &.lenses-tab__1 {
    .inside-win {
      margin-left: calc( $unit * -3);
    }
    
    .params__list {
      left: calc( $unit * 1.25);
    }
  }
  
  &.lenses-tab__2 {
    .inside-win {
      margin-left: calc( $unit * -1.75);
    }
    
    .params__list {
      left: calc( $unit * 0.40);
      align-items: flex-end;
      .params__item {
        text-align: right;
      }
    }
  }
  
  &.lenses-tab__3 {
    .inside-win {
      margin-left: calc( $unit * -1);
    }
    
    .params__list {
      left: calc( $unit * 1.15);
      align-items: flex-end;
      .params__item {
        text-align: right;
      }
    }
  }
}

.lenses-top-img {
  display: block;
  position: absolute;
  top: 0;
  left: 60%;
  width: 150px;
  height: 250px;
  background-color: var(--color-bg-gray);
  overflow: visible;
  padding-top: 120px;

  img {
    max-width: 250px;
    height: auto;
    margin-left: -120px;
  }
}

.compare-lens {
  width: 100%;
}

.lenses-tab__content {
  @include lenses_tab_content(900px, 520px);
}

.forest-view {
  @include flex_column;
  
  align-items: center;
  width: 100%;
  
  &__bg {
    @include bg-img(url(#{$assetPath}tv_system/lenses/compare_origin_view.jpg), center, top, cover);
    
    width: 400px;
    height: 267px;
    margin: 0 auto;
  }
  
  &__compare-img-list {
    @include flex_row;
    
    align-items: flex-start;
    gap: 10px;
    margin-top: -50px;
    width: 100%;
    
    .panel__item--no-padding {
      flex: 0 0 240px;
      
      >img {
        border: 3px solid var(--color-light);
        height: 140px;
      }
      
      >p {
        text-align: center;
      }
    }
  }
}
._border {
  border: 3px solid red;
}
.lenses-compare {
  &__net-params {
    @include flex_column;
    
    text-align: center;
    padding-top: 10px;
    
    &-title {
      font-family: var(--font-famile-base-extra);
      padding: 5px 0 !important;
      background-color: var(--color-yellow);
    }
  }
  
  ._forest_net {
      @include bg-img(url(#{$assetPath}tv_system/map.jpg), 0, 0, 100%, auto);
      @include flex_column(center);
      
      align-items: center;
      position: relative;
      width: 100%;
      min-height: 250px;
      margin: 0 auto;
      padding-top: 15%;
      border: 1px solid #80243f;
    }
    
    .net-chema {

      &__title {
        padding: 5px 0;
        font-weight: 500;
      }
    }
}