@mixin inside_win($unit) {
  $curtain: calc( $unit * 3 );
  
  @include grid_3($curtain, $unit, $curtain);
  
  min-height: 100%;
  
  &__clm-1, &__clm-3 {
    background-color: var(--color-bg-gray);
    opacity: 0.8;
  }
}

@mixin lenses_tab_content($w, $y) {
  $unit: calc( $w / 3 );
  
  .tab-lens {
    @include bg-img(url(#{$assetPath}tv_system/lenses/tv_lenses.jpg), 0, 0, cover);
  
    position: relative;
    margin: 0 auto;
    width: $w;
    height: $y;

    &__focus {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr;
      gap: 0;
      width: 100%;
      height: 100%;

      >div {
        position: relative;
        background-color: var(--color-bg-gray);
        opacity: 0.8;
        overflow: visible;
      }
      
      ._active-win {
        opacity: 0;
      }
    }

    &__params {
      display: grid;
      grid-template-columns: 1.5fr 2fr;
      gap: 0;
      position: absolute;
      top: -300px;
      width: 100%;
      height: 100%;

      &._active {
        top: 0;
        @include transition-common;
      }
    }
    
    .lens-params__3 {
      grid-template-columns: 2.5fr 1fr;
    }

    .params__list {
      padding-inline: 10px;
      
      &._direction-right {
        align-items: flex-end;
        
        .params__item {
          text-align: right;
        }
      }

      @include mobile {
        .param__header {
          font-size: 0.8rem;
        }

        .param__data h3 {
          font-size: 1rem;
        }
      }
    }


/*    &.lenses-tab__2, &.lenses-tab__3 {
      .params__list {
        align-items: flex-end;

        .params__item {
          text-align: right;
        }
      }
    }*/
  }
}

.lenses-top-img {
  display: block;
  position: absolute;
  top: 0;
  width: 150px;
  height: 250px;
  background-color: var(--color-bg-gray);
  overflow: visible;
  padding-top: 120px;
  
  @include mobile-above {
    left: 60%;
  }
  
  @include mobile {
    right: 5%;
    width: 100px;
    height: 140px;
    padding-top: 60px;
  }

  img {
    max-width: 250px;
    height: auto;
    margin-left: -120px;
    
    @include mobile {
      max-width: 150px;
      margin-left: -60px;
    }
  }
}

.compare-lens {
  width: 100%;
}


  
  @include tablet-above {
    @include lenses_tab_content(900px, 520px);
  }
  
  @include tablet {
    @include lenses_tab_content(450px, 260px);
  }
  
  @include mobile {
    @include lenses_tab_content(300px, 173px);

  }


.forest-view {
  column-gap: 20px;
  
  &__bg {
    margin: 0 auto;
    
    >img {
      width: 100%;
    }
  }
  
  &__compare-img-list {
    margin-top: -60px;
    
    >img {
      width: 100%;
      border: 4px solid var(--color-light);
    }
    >p {
      text-align: center;
    }
  }
}

.lenses-practice {
  @include tablet {
    margin-top: 50px;
  }
  
  @include mobile {
    margin-top: 80px;
  }
}
@mixin lenses_compare_ts ($count) {
  width: 100%;
  height: auto;
  overflow: hidden;

  &._forest_net {
    $w: 300px;
    @include forest-map($w, $count);
    width: 100%;
    background-size: cover;
    min-height: 250px;
    margin: 0 auto;
    border: 1px solid var(--color-accent);
    .camera-watch__pair {
      width: calc($w / $count);
      
      .camera-watch__area {
        @include camera_area_active;
      }
    }
  }
}

.lenses-compare {
  >div {
    text-align: center;
  }
  
  ._forest_net {
      @include bg-img(url(#{$assetPath}tv_system/map.jpg), 0, 0, auto, 100%);
      
      @include mobile {
        @include bg-img(url(#{$assetPath}tv_system/map-mobile.jpg), 0, 0, auto, 100%);
      }
      
      position: relative;
      padding: 15% 0 0 5%;
      overflow: hidden;
    }
    
    &__own-ts{
      @include lenses_compare_ts (2);
    }
    
    &__casual-ts {
      @include lenses_compare_ts (3);
    }
    
    .net-schema-title {
      padding: 5px 0;
      font-weight: 500;
    }
}

