

@mixin lenses_tab_content($w, $y) {
  $unit: calc( $w / 3 );
  
  .tabs__content {
    @media print {
      @include flex-row;
    }
  }
  
  .tab-lens {
    @include bg-img(url(#{$assetPath}tv_system/lenses/tv_lenses.jpg), 0, 0, cover);
    
    position: relative;
    margin: 0 auto;
    width: $w;
    height: $y;
   
    @include mobile {
      @include bg-img(url(#{$assetPath}tv_system/lenses/tv_lenses_mobile.jpg), 0, 0, cover);
    }
    
    @media print {
      flex: 1 1 33%;
    }
    
    &__focus {
      @include flex_row_start;
      @include gap-row(0);

      width: 100%;
      height: 100%;

      >div {
        flex: 0 0 28%;
        position: relative;
        background-color: $color-bg-gray;
        opacity: 0.8;
        overflow: visible;
        
        &:first-child {
          flex: 0 0 44%;
        }
      }
      
      ._active-win {
        opacity: 0;
      }
    }

    &__params {
      position: absolute;
      top: -300px;
      width: 100%;
      height: 100%;
      padding: 10px;

      &._active {
        top: 0;
        @include transition-common;
      }
    }
    .lens-params__1 {
      left: 44%;
    }
    .lens-params__2 {
      right: 56%;
    }
    .lens-params__3 {
      right: 28%;
    }

    .params__list {
      padding: 1.5rem;
      
      @include mobile {
        padding: 0px 10px;
      }
      
      &._direction-right {
        align-items: flex-end;
        
        .params__item {
          text-align: right;
        }
      }

      @include mobile {
        .param__header {
          font-size: 0.8rem;
        }

        .param__data h3 {
          font-size: 1rem;
        }
      }
    }
  }
}

.lenses-top-img {
  display: block;
  position: absolute;
  top: 0;
  width: 150px;
  height: 250px;
  background-color: $color-bg-gray;
  overflow: visible;
  padding-top: 120px;
  
  @include mobile-above {
    left: 60%;
  }
  
  @include mobile {
    right: 5%;
    width: 100px;
    height: 140px;
    padding-top: 60px;
  }

  @media print {
    top: -50px;
    left: 80%;
  }
  img {
    max-width: 250px;
    height: auto;
    margin-left: -120px;
    
    @include mobile {
      max-width: 150px;
      margin-left: -60px;
    }
  }
}

.compare_lens {
  &__img {
    width: 100%;
  }
  &__item-1 {
    
  }
  @media (max-width: 1000px) and (min-width: 769px), print {
    flex-wrap: wrap;

    .change-order{
      flex: 1 1 100%;
      display: contents;

      .expand-block{
        flex: 0 0 50%;
        padding: 10px;
      }
    }

    .compare_lens__item-1 {
      flex: 0 0 50%;
      order: -1;
    }
  }
  
  @include mobile {
    flex-direction: column-reverse;
  }
}

.lens-params__img {
  
    width: 100%;
}

.section-tabs {
  @include mobile-above {
    @include lenses_tab_content(900px, 520px);
  }
  
  @include tablet {
    @include lenses_tab_content(480px, 277px);
  }
  
  @include mobile {
    @include lenses_tab_content(480px, 277px);
  }
  
  @media (max-width: 450px) {
    @include lenses_tab_content(400px, 230px);
  }
  @media (max-width: 350px) {
    @include lenses_tab_content(300px, 173px);
  }
}

.forest-view {
  @include flex-column;
  @include gap-clm(0);
  
  &__bg {
    @include flex-row;
    
    align-self: center;
    align-items: flex-end;
    max-width: 80%;
    height: auto;
    margin: 0 auto;

    >img {
      display: block;
      width: 100%;
    }
  }
  
  &__compare-img-list {
    @include flex-row;
    
    flex-wrap: nowrap;
   
    &__item{
      flex: 0 0 45%;
      margin-top: -60px;
      
      >img {
        width: 100%;
        border: 4px solid $color-light;
      }
      
      >p {
        text-align: center;
      }      
    } 
  }
}

.lenses-practice {
  @include tablet {
    margin-top: 50px;
  }
  
  @include mobile {
    margin-top: 80px;
  }
  &__params {
    @include flex_column_between;
    @include gap-clm(10px);
    
   .panel__row {
      flex-wrap: nowrap;

      .panel__item--no-padding {
        text-align: center;

        @include mobile {
          flex: 1 1 50%;
        }
      }
    }
  
    .table-header, .net-schema-title {
      text-align: center;
    }
    
    .net-schema-title {
      font-weight: 600;
    }   
  }
}

@mixin lenses_compare_ts ($count) {
  width: 100%;
  height: auto;
  overflow: hidden;

  &._forest_net {
    $w: 300px;
    @include forest-map($w, $count);
    width: 100%;
    background-size: cover;
    min-height: 250px;
    margin: 0 auto;
    border: 1px solid $color-accent;
    .camera-watch__pair {
      width: calc($w / $count);
      
      .camera-watch__area {
        @include camera_area_active;
      }
    }
  }
}

.lenses-compare {
  >div {
    text-align: center;
  }
  .table-header {
    text-align: center;
  }
  ._forest_net {
      //@include bg-img(url(#{$assetPath}tv_system/map.jpg), 0, 0, cover);
      
      @include mobile {
        //@include bg-img(url(#{$assetPath}tv_system/map-mobile.jpg), 0, 0, cover);
      }
      
      position: relative;
      padding: 15% 0 0 5%;
      overflow: hidden;
    }
    
    &__own-ts{
      @include lenses_compare_ts (2);
    }
    
    &__casual-ts {
      @include lenses_compare_ts (3);
    }
    
    .net-schema-title {
      padding: 5px 0;
      font-weight: 500;
    }
}



