$tmp-square-size: 80px;

.tmp-rows {
  @include flex_row;
  gap: 20px;
}

.tmp-square {
  @include square($tmp-square-size);
  background-color: #191A23;
}

.color-dark {
  //background-color: $color-dark;
}

.color-accent {
  background-color: $color-accent;
}


.color-bg-gray {
   background-color: $color-bg-gray;
}

.color-gray-alt {
  background-color: $color-gray-alt;
}


.color-pale-gold {
  background-color: $color-pale-gold;
}

.color-platinum {
  background-color: $color-platinum;
}

.color-yellow {
   background-color: $color-yellow;
  //@include tmp-bg-color(--color-yellow);
}


.color-translucent {
  background-color: $color-translucent;
}

