.burger-button {
  @include reset-button;
  @include square(48px);
  
  position: relative;
  border-radius: $border-radius-small;
  
  @include hover {
    background-color: $color-accent;
  }
  
  &::after {
    @include abc-center;
    
    content: '';
    width: 50%;
    height: 2px;
    background-color: $color-dark;
    border-radius: 5px;
    box-shadow: 0 -8px, 0 8px;
  }
}