@mixin btn($colorText, $colorBg, $colorBorder: '') {
  @if ($colorBorder == '') {
    $colorBorder: $colorBg;
  }
  
  @include border-radius();
  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  margin: 5px;
  color: $colorText;
  background-color: $colorBg;
  border: 1px solid $colorBorder;
  font-family: $font-famile-base-extra;
  font-weight: 200;
  text-decoration: none;
  cursor: pointer;
  
  @media print {
    display: none;
  }
}

.btn__main {
  @include btn($color-light, $color-accent);
}

.btn-tool {
  $color: $color-pale-gold;
  
  @include btn($color, transparent, $color);

  @include hover {
    color: $color-accent;
    background-color: $color;
  }
}