.cross-button {
  @include reset-button;
  @include square(40px);
  
  position: relative;
  border-radius: $border-radius-small;
  
  @include hover {
    background-color: $color-accent;
  }
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 7px;
    width: 70%;
    height: 2px;
    background-color: $color-dark;
    border-radius: 5px;
  }
  
  &::before {
    @include transform_rotate(45deg);
  }
  &::after {
    @include transform_rotate(-45deg);
  }
}