.footer {
  //--color-footer-bg: #546e7a;
  $color-footer-bg: #546e7a;
  $color-footer-bg-medium: #4d646f;
  $color-footer-bg-dark: #3d4d54;
  
  position: relative;
  width: 100%;
  min-height: 400px;
  /*padding: 20px 10%;*/
  z-index: 1;
  background-color: $color-footer-bg;
  background-image: url('#{$assetPath}logo_bg.png');
  
  background-repeat: no-repeat;
  background-position: 98% 1%;
  color: #fff;
  border-top: 2px solid #3d4d54;
  
  @media print {
    display: none;
  }
  
  &::before {
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    right: 0;
    z-index: -1;
    @include bg-img(url('#{$assetPath}tree_bg.png'), bottom, left, auto);
    
    @include mobile {
      background-position:  bottom right;
    }
  }
  
  &__inner{
    width: 100%;
    padding: 0;
  }
  
  &__lang {
    position: absolute;
    top: 150px;
    right: 0;
  }
  
  &__lang-list {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    @include gap-clm(10px);
    
  }
  
  &__lang-item {
    padding: 15px 25px;
    color: $color-light;
    background-color:  $color-footer-bg-medium;
    
    >a {
      font-family: 'Fira Sans Extra Condensed';
      font-size: 1.35rem;
      font-weight: 700;
      text-decoration: none;
    }
    
    &:hover {
      box-shadow: $shadow-light;
    }
    
  }
  
  ._active {
    background-color:  $color-footer-bg-dark;
    box-shadow: $shadow-light;
  }
  

  &__body {
    @include flex_column();
    @include gap-clm(20px);
    
    width: 85%;
    margin: 0 auto;
  }
  
  &__body-item {
    
    padding: 30px;
    
    .body-item__row {
      @include flex_column();
      @include gap-clm(15px);
      
      align-items: center;
            
      .phones {
        @include flex_row();
        @include gap-row(20px);
        
        font-size: 1.3rem;
        
        @include mobile {
          @include flex_column();
        }
      }

      @include mobile {
        align-items: start;
      }
    }
  }
  
  
  &__menu {
    $row_gap: 20px;
    
    @include flex-row(space-around);
    @include gap-row($row_gap);
    
    flex-wrap: wrap;
    
    @include tablet {
      
    }
    
    @include mobile {
      
    }

    .expand-block {
      min-width: 200px;
      padding-top: 30px;
      
      &:last-child {
        margin-right: $row_gap;
      }
      
      &__title {
        @include gap-row(20px);
        
        align-items: start;
        font-weight: 700;
        font-size: 1.5rem;
        color: $color-footer-bg-dark;
        padding-bottom: 0;
      }
      
      &__body {
        @include flex_column;
        @include gap-clm(10px);

        font-family: "Fira Sans Extra Condensed";
        font-weight: 500;
        font-size: 1.2rem;
        border-left: 2px solid $color-footer-bg-dark;
        padding-left: 15px;
        
        @include mobile {
          @include gap-clm(40px);
        }
      }
    }
  }
  
  @include mobile-above {
    .all_rights {
      text-align: center;
    }
  }
  
}