.footer {
  --color-footer-bg: #546e7a;
  --color-footer-bg-medium: #4d646f;
  --color-footer-bg-dark: #3d4d54;
  
 
 
  position: relative;
  width: 100%;
  min-height: 400px;
  /*padding: 20px 10%;*/
  z-index: 1;
  background-color: var(--color-footer-bg);
  background-image: url('../../public/img/logo_bg.png');
  background-repeat: no-repeat;
  background-position: 98% 1%;
  color: #fff;
  border-top: 2px solid #3d4d54;
  
  
  &::before {
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url('../../public/img/tree_bg.png') bottom left/auto no-repeat;
  }
  
  &__inner{
    width: 100%;
    padding: 0;
  }
  
  &__lang {
    position: absolute;
    top: 150px;
    right: 0;
  }
  
  &__lang-list {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    
  }
  
  &__lang-item {
    padding: 15px 25px;
    color: var(--color-light);
    background-color:  var(--color-footer-bg-medium);
    
    >a {
      font-family: 'Fira Sans Extra Condensed';
      font-size: 1.35rem;
      font-weight: 700;
      text-decoration: none;
    }
    
    &:hover {
      box-shadow: var(--shadow-light);
    }
    
  }
  
  ._active {
    background-color:  var(--color-footer-bg-dark);
    box-shadow: var(--shadow-light);
  }
  

  &__body {
    @include flex_column();
    gap: 20px;
    width: 85%;
    margin: 0 auto;
  }
  
  &__body-item {
    text-align: center;
    padding: 30px;
    
    .body-item__row {
      @include flex_column();
      align-items: center;
      
      gap: 15px;
      
      .phones {
        @include flex_row();
        gap: 20px;
        font-size: 1.3rem;
        
        @include mobile {
          @include flex_column();
        }
      }
    }
  }
  
  
  &__menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
    @include tablet {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    &-item {
      font-family: 'Fira Sans Extra Condensed';
      font-weight: 500;
      font-size: 1.2rem;
      padding: 20px 30px;
      border-top: 2px solid var(--color-footer-bg-dark);
    }
    
    &-title {
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
      color: var(--color-footer-bg-dark);
      padding-bottom: 30px;
    }
  }
  
  
  
  
  
  
  
  &__menu1 {
    @include flex_row();
    flex-wrap: wrap;
    gap: 20px;
    
    &-item {
      //flex: 1 1 12%;
      font-family: 'Fira Sans Extra Condensed';
      font-weight: 500;
      font-size: 1.2rem;
      padding: 20px 30px;
      border-top: 2px solid var(--color-footer-bg-dark);
    }
    &-title {
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
      color: var(--color-footer-bg-dark);
      padding-bottom: 30px;
    }
    &-list {
      
    }
  }
  
  &__item {
    
  }
}