.gallery {
  &__wrapper {
    
    @include flex_column;
    @include gap-clm(40px);
    
    padding-top: 40px;
    background-color: $color-platinum;
  }
  
  &__body {
    @include flex-row;
    @include padding-block(40px);
  }
  
  &__arrow {
    @include flex-center;
    flex: 0 0 calc($arrow-cycle-size + 20px);
    
    @include mobile {
      flex: 0 0 $arrow-cycle-size;
    }
  }
  
  &__frame {
    flex: 1 1 auto;
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  &__list {
    @include flex_row(space-around);
    
    position: relative;
    align-items: stretch;
    flex-wrap: nowrap;
    transition: all 0.8s ease 0s;
  }
  
  &-detail {
    @include flex_column;
    @include gap-clm(0);
    
    min-width: 300px;
    width: 300px;
    padding: 0;
    overflow: hidden;
    background-color: $color-light;
    border: 1px dotted $color-gray-alt;
    border-radius: $border-radius-small;
    
    &__img {
      width: 100%;
      height: 230px;
      overflow: hidden;
    }
    
    &__description {
      line-height: 1.15;
      padding: 0px 15px 30px;
      
      >p {
        margin-bottom: 15px;
      }
    }
  }
  
  .legend {
    &__item {
      cursor: default;
    }
  }
  
  &__current-item {
    display: none;
  }
}

.legend {
  @include flex-center(true);
  @include gap-row(10px);
  
  margin-bottom: 20px;
  color: white;

  &__item {
    @include square(13px);

    border: 2px solid $color-light;
    border-radius: 50%;
    cursor: pointer;

    &--filled {
      background-color: $color-light;
    }
  }
}
