.header {
  --header-height: 100px;
  --path-line-height: 20px;
  --top-line-height: 4px;
  --sub-menu-bg: var(--color-translucent);
  
  position: relative;
  height: var(--header-height);
  padding: 0;
  background-color: var(--color-light);
  box-shadow: var(--shadow-light);
  z-index: 1010;
  
  &__inner {
    @include flex_column_between;
    
    width: 100%;
    min-height: 100%;
    padding: 0;
  }
  
  &__top-line {
    height: var(--top-line-height);
    width: 100%;
    background-color: var(--color-accent);
  }
  
  &__body {
    @include flex_row;
    
    align-items: center;
    gap: 40px;
    padding-inline: var(--container-padding-x);
    z-index: 1012;
  }
  
  &__logo {
    position: relative;
    margin-bottom: -35px;
  }
  
  &__menu {
    position: relative;
    padding-top: 20px;
    z-index: 1019;
    
    @include mobile {
      position: fixed;
      top: -200vh;
      left: 0;
      width: 100%;
      height: 98vh;
      background-color: var(--color-light);
      overflow: auto;
      
      &.header__menu-modal--visible {
        top: 0;
        transition-duration: var(--transition-duration-slowly);
      }
    }
    
    .close-button-wrapper {
      @include flex_row_end;
      
      width: 100%;
      padding-right: 45px;
    }
    
    &-list {
      @include flex_row_end;
      
      gap: 20px;
      
      @include mobile {
        flex-direction: column;
        justify-content:  flex-start;
        gap: 40px;
        padding: 10vw;
      }
      >a {
        text-decoration: none;
      }
    }
    
    .menu-item {
      position: relative;
      overflow: visible;
      
      @include mobile-above {
        max-height: calc(var(--header-height) - var(--path-line-height) - var(--top-line-height));
      }
      
      &__link {
        display: inline-flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        z-index: 1015;
        
        @include mobile {
          flex-direction: row;
        }
        .arrow-accent-sm-up {
          margin-top: 0;
        } 
      }
      
      &__name {
        font-family: 'Fira Sans Extra Condensed';
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        
        @include tablet {
          font-size: 1rem;
        }
        @include mobile {
          font-size: 1.2rem;
        }
      }
      
      .sub-menu {
        min-width: 200px;
        background-color: transparent;
        overflow: visible;
        
        @include mobile-above {
          position: absolute;
          top: 20px;
          left: -10px;
        }
        @include mobile {
          width: 100%;
        }
        
        &__list {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 25px 0px 15px;
          background-color: var(--sub-menu-bg);
          border-top: 2px solid var(--color-accent);
          box-shadow: var(--shadow-light);
          
          @include mobile {
            gap: 15px;
            box-shadow: none;
            //background-color: var(--sub-menu-bg);
          }
          
        }
        
        &.appear-panel-visible {
          .sub-menu__list {
            margin-top: 20px;
            transition-duration: var(--transition-duration-slowly);
          }
        }
        
        &__item {
          position: relative;
          border-left: 4px solid var(--sub-menu-bg);
          padding: 10px;

          &:hover {
            color: var(--color-accent);
            border-left: 4px solid var(--color-accent);
            background-color: inherit;
            transition-duration: var(--transition-duration-slowly);
          }
        }
        &__link {
          text-decoration: none;
        }
      }
    }
  }
  
  &__path {
    position: relative;
    width: 100%;
    height: var(--path-line-height);
    background-color: var(--color-yellow);
    z-index: 1005;
  }
}