.header {
  $header-height: 100px;
  $path-line-height: 20px;
  $top-line-height: 4px;
  $sub-menu-bg: $color-translucent;
  
  position: relative;
  height: $header-height;
  padding: 0;
  background-color: $color-light;
  box-shadow: $shadow-light;
  z-index: 1010;
  
  @media print {
    height: auto;
  }
  
  &__inner {
    @include flex_column_between;
    
    width: 100%;
    min-height: 100%;
    padding: 0;
  }
  
  &__top-line {
    height: $top-line-height;
    width: 100%;
    background-color: $color-accent;
  }
  
  &__body {
    @include flex_row;
    @include gap-row(40px);
    @include padding-inline($container-padding-x);
    
    align-items: center;
    z-index: 1012;
  }
  
  &__logo {
    position: relative;
    margin-bottom: -35px;
  }
  
  &__menu {
    position: relative;
    padding-top: 20px;
    z-index: 1019;
    
    @media print {
      display: none;
    }
  
  
    @include mobile {
      position: fixed;
      top: -200vh;
      left: 0;
      width: 100%;
      height: 98vh;
      background-color: $color-light;
      overflow: auto;
      
      &.header__menu-modal--visible {
        top: 0;
        transition-duration: $transition-duration-slowly;
      }
    }
    
    .close-button-wrapper {
      @include flex_row_end;
      
      width: 100%;
      padding-right: 20px;
    }
    
    &-list {
      @include flex_row_end;
      @include gap_row(20px);
      
      @include mobile {
        @include flex_column;
        @include gap-clm(40px);
        
        padding: 10vw;
      }
      >a {
        text-decoration: none;
      }
    }
    
    .menu-item {
      position: relative;
      overflow: visible;
      
      @include mobile-above {
        max-height: calc($header-height - $path-line-height - $top-line-height);
      }
      
      &__link {
        @include gap-clm(5px);
        
        display: inline-flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        z-index: 1015;
        
        @include mobile {
          flex-direction: row;
        }
        .arrow-accent-sm-up {
          margin-top: 0;
        } 
      }
      
      &__name {
        font-family: 'Fira Sans Extra Condensed';
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        
        @include tablet {
          font-size: 1rem;
        }
        @include mobile {
          font-size: 1.2rem;
        }
      }
      
      .sub-menu {
        min-width: 200px;
        background-color: transparent;
        overflow: visible;
        
        @include mobile-above {
          position: absolute;
          top: 20px;
          left: -10px;
        }
        @include mobile {
          width: 100%;
        }
        
        &__list {
          @include gap-clm(5px);
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 25px 0px 15px;
          background-color: $color-bg-gray;
          border-top: 2px solid $color-accent;
          box-shadow: $shadow-light;
          
          @include mobile {
            @include gap-clm(15px);
            
            box-shadow: none;
          }
        }
        
        &.appear-panel-visible {
          .sub-menu__list {
            margin-top: 20px;
            transition-duration: $transition-duration-slowly;
          }
        }
        
        &__item {
          position: relative;
          border-left: 4px solid $sub-menu-bg;
          padding: 10px;

          &:hover {
            color: $color-accent;
            border-left: 4px solid $color-accent;
            background-color: inherit;
            transition-duration: $transition-duration-slowly;
          }
        }
        &__link {
          text-decoration: none;
        }
      }
    }
  }
  
  &__phones {
    display: none;
    
    @media print {
      @include flex-row;
      @include gap-row(20px);
      min-width: 60%;
    }
  }
  
  &__path {
    position: relative;
    width: 100%;
    height: $path-line-height;
    background-color: $color-yellow;
    z-index: 1005;
  }
}