.popup {
  @include frame;
  
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  
  
  &__wrapper {
    @include flex_column(center);
    
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 100px 0px;
    
  }
  
  &__body {
    @include flex_column_between();
    @include gap-clm(0);
    
    background-color: $color-light;
    
    @include mobile-above {
      @include border-radius;
      position: fixed;
      width: 80%;
      height: 80%;
      border: 1px solid $color-light;
      overflow: hidden;
    }
    
    @include mobile {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  
  &__header, &__footer {
    padding: 15px $container-padding-x;
    background-color: $color-bg-gray;
    
  }
  &__header {
    @include flex_row;
    .title {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  
  &__footer {
    @include flex_row_end;
  }
  
  &__content{
    @include flex_column_between;
    @include gap-clm(20px);
    
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    overflow: auto;
  }
}

.popup-close-button {
  @include close_button(1.3rem);
  cursor: pointer;
}