:root{
  --square-size: 200px;
  --square-wrapper-coefficient: 1.4;
  --square-margin-coefficient: 4;
}

@media (max-width: 1250px) {
  :root {
    --square-margin-coefficient: 8;
  }
}


@media (max-width: 1030px) {
  :root {
    --square-size: 190px;
    --square-margin-coefficient: 100;
  }
}

@include mobile {
  :root {
    --square-size: 80px;
    --square-margin-coefficient: 100;
  }
}

@mixin squares($square-size) {
  $square-margin: calc( $square-size / var(--square-margin-coefficient) );
  $square-row-3-width: calc( ($square-size + $square-margin) * 3 );
  $square-row-2-width: calc( ($square-size + $square-margin) * 2 );
  $margin-left: calc($square-size * 0.5 + $square-margin * 0.5);

  @include flex_column;
  
  .main-parameters {
    
    @include mobile-above {
      @include square($square-size);
      padding-top: 20px;
      overflow: visible;
    }
    @include mobile {
      padding-left: calc($square-size / 1.5 + $square-size / 2);
    }
  }
  
  .panel__row {
    justify-content: flex-start;
    gap: $square-margin;
    width: $square-row-3-width;
    
    @include mobile {
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }
  }
  
  .square-row-left {
    width: $square-row-2-width;
    margin-left: $margin-left;
    @include mobile {
      width: 100%;
      margin-left: 0;
    }
  }
  
  .square-row-top {
    margin-top: calc($margin-left / 2.5 * -1);
    
    @include mobile {
      margin-top: 0;
    }
  }
}

@mixin square-item($size, $wrapper-size) {
  
  @include square($wrapper-size);
  @include flex_column(center);
  
  position: relative;
  align-items: center;
  padding: 0;
  
  &__bg {
    @include square($size);
    
    border: 4px solid var(--color-bg-gray);
    rotate: 45deg;
    overflow: hidden;
    
    @include mobile-above {
      @include border-radius-large;
      background-color: var(--color-bg-gray);
      
      >img {
        opacity: 0;
      }
    }
    
    @include mobile {
      @include border-radius;
      position: relative;
      z-index: 25;
    }
  }
  
  &__content {
    @include flex_column(center);
    
    font-family: var(--font-famile-base-extra);
    font-weight: 500;
    position: absolute;
    padding: 0;
    cursor: pointer;
    
    @include mobile-above {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
    }
    
    @include mobile {
      top: 5px;
      left: calc($wrapper-size / 2);
      width: 100vw;
      padding: 20px calc($wrapper-size / 1.5);
      background-color: var(--color-translucent);
      z-index: 20;
    }
    
    >h3 {
      margin: 10px;
      
    }
  }
  
  &:hover {
    .square__bg-img{
      opacity: 0.4;
    }
    
    .square__content, h3 {
      color: var(--color-accent);
    }
    
  }
}

.squares {
  $square-size: calc(var(--square-size) * var(--square-wrapper-coefficient));
  @include squares($square-size);
  
  .square {
    @include square-item(var(--square-size), $square-size);
  }
}

      .img_pos {
        align-self: center;
        width: 70%;
        height: auto;
        //border: 1px solid red;
        margin-bottom: -100px;
        @media (max-width: 599px) {
          //position: absolute;
          //left:-100px;
          //top: 20px;
          //width: 70px;
        }
      }
      ._less-img {
        
        width: 40%;
        @media (max-width: 599px) {
          width: 50px;
          top: 10px;
        }
      }

