$square-wrapper-coefficient: 1.4;

@mixin squares($size, $square-margin-coefficient) {
  
  $square-size: calc($size * $square-wrapper-coefficient);
  $square-margin: calc( $square-size / $square-margin-coefficient );
  
  $square-row-3-width: calc( ($square-size + $square-margin) * 3 );
  $square-row-2-width: calc( ($square-size + $square-margin) * 2 );
  $margin-left: calc($square-size * 0.5 + $square-margin * 0.5);

  @include flex_column;
  
  .main-parameters {
    
    @include mobile-above {
      @include square($square-size);
      padding-top: 20px;
      overflow: visible;
    } 
    @include mobile {
      padding-left: calc($square-size / 2 );
    }
  }
  
  .panel__row {
    @include gap_row($square-margin);
    justify-content: flex-start;
    width: $square-row-3-width;
    
    @include mobile {
      @include gap_row(10px);
      flex-direction: column;
      width: 100%;
    }
  }
  
  .square-row-left {
    width: $square-row-2-width;
    margin-left: $margin-left;
    @include mobile {
      width: 100%;
      margin-left: 0;
    }
  }
  
  .square-row-top {
    margin-top: calc($margin-left / 2.5 * -1);
    
    @include mobile {
      margin-top: 0;
    }
  }
  
  .square {
    @include square-item($size, $square-size);
  }
}

@mixin square-item($size, $wrapper-size) {
  @include square($wrapper-size);
  @include flex_column(center);
  
  position: relative;
  align-items: center;
  padding: 0;
  
  &__bg {
    @include square($size);
    
    border: 4px solid $color-bg-gray;
    @include transform_rotate(45deg);
    overflow: hidden;
    
    @include mobile-above {
      @include border-radius-large;
      background-color: $color-bg-gray;
      
      >img {
        opacity: 0;
      }
    }
    
    @include mobile {
      @include border-radius;
      position: relative;
      z-index: 25;
    }
  }
  
  &__content {
    @include flex_column(center);
    
    font-family: $font-famile-base-extra;
    font-weight: 500;
    position: absolute;
    padding: 0;
    cursor: pointer;
    
    @include mobile-above {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
    }
    
    @include mobile {
      top: 5px;
      left: calc($wrapper-size / 2);
      width: 100vw;
      padding: 20px calc($wrapper-size / 1.5);
      background-color: $color-translucent;
    }
    
    >h3 {
      font-size: 1.3rem;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  
  &:hover {
    .square__bg-img{
      opacity: 0.4;
    }
    
    .square__content, h3 {
      color: $color-accent;
    }
    
  }
}

.squares {
  
  @include squares(200px, 4);
  
  @media (max-width: 1250px) {
    @include squares(200px, 8);
  }

  @media (max-width: 1030px) {
    @include squares(190px, 100);
  }

  @include mobile {
    @include squares(80px, 100);
  }
  
  @media print {
    display: none;
  }
}

      .img_pos {
        align-self: center;
        width: 70%;
        height: auto;
        margin-bottom: -100px;
        
        @include mobile {
          position: absolute;
          top: 40px;
          left: -10px;
          width: 120px;
          z-index: 30;
        }
      }
      
      ._less-img {
        width: 40%;
        
        @include mobile {
          width: 70px;
          top: 30px;
        }
      }

