.contacts {
  --mobile-gap: 40px;
  
  @include flex_row_start;
  
  flex-wrap: nowrap;
  gap:0;
  
  @include tablet {
    flex-wrap: wrap;
    gap: var(--mobile-gap);
  }
  
  &__panel {
    @include flex_row_start;
    @include mobile {
      flex-wrap: wrap;
      gap: var(--mobile-gap);
    }
  }
  
  &__hands {
    @include flex_column_between;
    
    flex: 0 0 60%;
    padding-top: 30px;
    
    @include mobile {
      flex: 0 0 100%;
    }
    
    >p {
      width: 80%;
    }
    
    .hands {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }
  }
  
  &__phones {
    @include flex_column_between;
    
    flex: 0 0 40%;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: var(--border-radius-small);
    border-inline: 1px solid var(--color-accent);
    text-align: center;
    
    @include mobile {
      flex: 0 0 100%;
      border-block: 1px solid var(--color-accent);
    }
  }
  
  &__map {
    flex: 0 0 40%;
    align-self: flex-end;
    
    @include tablet {
      flex: 0 0 100%;
      >img {
        width: 100%;
      }
    }
  }
}
