.photo-traps {
  @include flex-column;
  align-items: center;
  $imgSize: 300px;
  
  &__img {
    margin-left: calc($imgSize * 0.25);
  }
  
  &__params {
    width: calc($imgSize * 0.75);
    margin-top: calc($imgSize * -0.35 );
  }
  
  &__title {
    width: calc($imgSize * 0.75);
    color: $color-pale-gold;
    background-color:  $color-accent;
    padding: 20px;
    margin-left: -20px;
  }
}

@include mobile {

  .change-order {
    display: contents;
    
    >p, >div {
      padding: $container-padding-x;
    }
  }
  
  .photo-traps__gist {
    order: -2;
  }
  
  .photo-traps {
    order: -1;
  }
}

.photo-album {
  @include photo-album(250px, 6);
  
  @include tablet {
    @include photo-album(200px, 6);
  }
  @include mobile {
    @include photo-album(150px, 6);
  }
}
