$service-img-width: 95%;

.img-vertial-title {
  display: block;
  position: relative;
  &__text{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 30px;
    height: 100%;
    text-align: center;
    background-color:  #ECE9E9;
    opacity: 0.8;
    
    font-family: $font-famile-base-extra;
    color: $color-platinum;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
     
  }
  &__img {
    width: 100%;
    height: auto;
  }
}

.support {

  align-items: flex-end;
  
  h3 {
    text-align: right;
    width: $service-img-width;
  }
  
  img {
    width: $service-img-width;
  }
}


.protection {
  $bg-img-size: 540px;
  
  @include bg-img(url('#{$assetPath}tv_system/protection.jpg'), top, right, $bg-img-size);
  
  @include tablet {
    background-size: 400px;
    h3 {
      margin: 100px 0 50px 0;
    }
  }
  
  @include mobile {
    background-size: 270px;
    h3 {
      margin: 85px 0 50px 0;
      width: 75%;
    }
  }
  
  @include mobile-s {
    background-size: 270px;
    h3 {
      margin: 85px 0 100px 0;
      width: 75%;
    }
  }
  
  
  
}

.restoration-old-tower {
  overflow: hidden;
  
  &__row {
    @include flex_row_start;
    @include gap-row(0);
    
    flex-wrap: nowrap;
    width: $service-img-width;
  }
  
  &__item {
    @include flex_column;
    @include gap-clm(0);
    
    flex: 1 1 50%;
    overflow: hidden;
    
    >img {
      width: 100%;
    }
  }
  

}

.walkie {
  @include padding-block(20px);
  
  >img {
    border-left: 1px solid $color-accent;
  }
}

.walkie-servise__list {
  @include flex-row;
  @include gap-row(20px);
  
  >ul {
    flex: 1 1 35%;
  }
  
  >div {
    flex: 1 1 65%;
  }

  @include mobile {
    @include gap-row(10px); 
    >ul, >div {
      flex: 1 1 50%;
    }
  }
  
  .list--dotted {
    justify-content: center;
  }
}