.tower {
  @include bg-img_top_full-pagesize(url('#{$assetPath}tower/tower_bg.jpg'));
  
  @include mobile {
    @include bg-img_top_full-pagesize(url('#{$assetPath}tower/tower_bg-tablet.jpg'));
  }
}

.tower-params {
  $row_gap: 30px;
  @include flex-row(space-around);
  @include gap-row(30px);
  
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
  width: 80%;
  margin: 0 auto;

  .params__list {
    @include gap-row(20px);
    
    flex: 1 1 30%;
    max-width: 300px;
    min-width: 250px;
    box-shadow: $shadow-light;
    
    @media screen and (max-width: 500px) {
      &:last-child {
        margin-right: $row_gap;
      }
    }
    
  }
}

.img-group__row {
  @include flex_row(center);
  
  .img-group__item{
    margin-right: 10px;
    >img {
      min-width: 100%;
      border: 1px solid $color-accent;
    }
  }
  .overlapped_img{
    margin: 25px 0 0 -40px;
  }
}

.tower-in-war {
  @include bg-img(url('#{$assetPath}tower/war_img1.jpg'), center, center, cover);
  min-height: 400px;
}